.clear{
	clear: both;
}

#cabecera{
	height:55px;
	background: #075e54;
	margin-left: 30px;
	margin-right: 15px;
}

#cabecera img{
	max-height: 40px;
	float: right;
	margin-top: 8px;
	cursor: pointer;
}

#cabecera p{
	font-size: 18px;
	font-style: bold;
	color: #fff;
	padding-top: 15px;
}

#container{
	height:450px;
	background-image: url(../img/bg-chat.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 30px;
	margin-right: 15px;
	
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#subcontainer{
	overflow-y: scroll;
	height:360px;
}

.container_msj_sender{
	float: right;
	max-width:100%;	
}

.container_msj_contacto{
	float: left;
	max-width:100%;		
}

.msj_sender{
	background: #e1ffc7;	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	padding:8px;
	box-shadow: -1px 1px 3px 0px #999;
	height: auto;
	margin-top:5px;
	margin-bottom:5px;	
}
.msj_contacto{
	background: #fff;	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	padding:8px;
	box-shadow: 1px 1px 4px 0px #999;
	height: auto;
	margin-top:5px;
	margin-bottom:5px;
}

.msj_sender p{
	margin: 0px !important;
	color:#000;
	font-size: 14px;
	word-break: break-all;
}
.msj_contacto p{
	margin: 0px !important;
	color:#000;
	font-size: 14px;
	word-break: break-all;
}

.flecha_sender{
	display: inline-block;
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #e1ffc7;
	position: absolute;
	right: 6px;
	top: 5px;	
}
.flecha_contacto{
	display: inline-block;
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-right: 15px solid #fff;
	position: absolute;
	left: 6px;
	top: 5px;	
}

.hora{
	color: #999 !important;
	font-size: 12px !important;
}

.tilde{
	max-height: 10px;
	float: right;
	margin-top: 3px;
	margin-left: 6px;
}

.timer{
	max-height: 15px;
	float: right;
	margin-top: 1px;
	margin-left: 6px;
}

#input_wa{
    bottom: 0px;
    position: absolute;
    width: 80%;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 80px;
 	border-radius: 5px;
 	-moz-border-radius:5px;
 	-webkit-border-radius: 5px;
 	border: none;
 	padding: 5px;
 	resize: none;
}

#send_button{
	float: right;
	width: 55px;
	margin-top: 18px;
	margin-right: 5px;
	cursor: pointer;
}

.multimedia{
	max-width: 100%;
}
