<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done" onload="remove()">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Import Sender CSV
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Import Sender CSV</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
					<div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">
			            <?php
			            if(isset($import_result) && $import_result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  Senders importes succesfully.
			                </div>                
			              <?php			              
			            }else if(isset($import_result) && !$import_result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  An error has ocurred while importing senders.
			                  <br />
			                  <?=$import_result['msg']?>
			                </div> 
			              <?php			              
			            }?>
			            </div>
			        </div><!-- /.row -->
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
	                            <?php 
						        $f = new Formularios(); 
						        $f->cabecera('Import Senders','Complete the form to add senders.'); 
						        $f->inicioFormFile('post','index.php');  
						        $f->addLabel('Format: <br>phone,password<br>phone2,password2<br>...','');
						        $f->addHiddenInput('apartado','importsender');						        
						        $f->addInput("File CSV","csv","","file");       						        
						        
						        $f->addSubmit('Import','import','import');						        
						        $f->finForm();

						        $f->generarForm();
						        ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
	
	<script>
		function remove(){
			$("#csv").removeClass("form-control");
		}
	</script>	
		
	
</body>
</html>


