<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body>
	<?php require_once("views/body/cabecera.phtml"); ?>

	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Packages
                        <small>Credits</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Packages</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
						<div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">
			            <?php
			            if(isset($result) && $result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			            </div>
			        </div><!-- /.row -->
			        
			        
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                     
                     <?php
                     	foreach($packages as $p)
                     	{
							?>
                        
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box <?=$p->bg_color?>">
                                <div class="inner">
                                    <h3>
                                        <?=$p->credits?>
                                    </h3>
                                    <p style="font-size: 20px;">
                                        <?php echo $settings->currency.'&nbsp'.$p->amount;?>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a id="buy" onclick="buy(<?=$p->id?>);" style="cursor: pointer;" class="small-box-footer">
                                    Buy <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                      <?php
                     	}
							?>
                   
                   </div><!--row-->
                     
                        
                      
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        <script>
        		function buy(post){
				  if (confirm("Are you sure you want to buy this package?") == true) {
					  $.post("index.php?apartado=packages",{id:post},function(data){
					    alert( data );
					  });
				  }
				};  	
        </script>

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>
