<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        List Users
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">List Users</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
					<div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">            							
			            <?php
			            //Result of delete
			            if(isset($result) && $result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			        		</div>    			            
			        </div><!-- /.row -->
			        
			        
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-12">
	                            <?php            
					             if(count($usuarios)!=0)
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List Users");
					                $tabla->inicioTabla(array("Number","Username","Email","Telephone","Credits","Enable","Add credits","Actions"));
					                          
					                $i=1;
					                foreach($usuarios as $u)
					                {  
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $i.'<input type="hidden" name="id" id="id_user_'.$u->id.'" value="'.$u->id.'" />
					                            <input type="hidden" name="apartado" value="moduser" />',
					                            $u->username,
					                            $u->email,
					                            $u->telefono,
					                            $u->credits,
					                            ($u->habilitado == 1)?"Yes":"No",
					                            '					                            
					                            <input type="number" id="credits_user_'.$u->id.'" name="credits" min="1">
					                            <button type="button" class="btn btn-default bg-blue" name="borrar" onclick="submitValue(\'moduser\',\'id_user_'.$u->id.'\',\'credits_user_'.$u->id.'\')">Add</button>					                            
					                            ',
					                            '<button type="submit" class="btn btn-default bg-green" name="editar">Edit</button>
					                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="holas(\'moduser\',\''.$u->id.'\')">Delete</button>'					                            
					                          ) 
					                    ); 
					                  ?>                                  
					                  <?php
					                  $i++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					                <h2>No hay usuarios en la base de datos.  </h2>  
					              <?php
					              }
					              ?>					             
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>            
