<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        New User
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">New User</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
					<div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">
			            <?php
			            if(isset($result) && $result['state'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['state']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			            </div>
			        </div><!-- /.row -->
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
	                            <?php 
						        $f = new Formularios();
						        $f->cabecera('Users','Complete the form to create a new user.'); 
						        $f->inicioForm('post','index.php');
						        $f->addHiddenInput('apartado','newuser');
						        $f->addHiddenInput('id',0);
						        $f->addInput('Username','username','','txt');
						        $f->addInput('Password','password','','password');
						        $f->addInput('Email','email','','txt');
						        $f->addInput('Telephone','telefono','','txt');
						        $f->addCheckBox('Enable','habilitado',1,true);
						        
						        $f->contenidoFormulario('<br><label>Modules</label>');
						        $f->addCheckBox('Module Answer','modulo_answer',1,true);
						        $f->addCheckBox('Module Chat','modulo_chat',1,true);
						        $f->addCheckBox('Module Survey','modulo_survey',1,true);
						        $f->addCheckBox('Module Campaign','modulo_campaign',1,true);
						        
						        $f->addSubmit('New','aceptar','aceptar');
						        $f->addClean('Clean');
						        $f->finForm();

						        $f->generarForm();
						        ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>