<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body>
	<?php require_once("views/body/cabecera.phtml"); ?>	
    <section id="error" class="container">
        <h1><?=$titulo_404?></h1>
        <p><?=$descripcion_404?></p>
        <a class="btn btn-success btn-primary" href="<?=$url_root?>">HOME</a>
    </section><!--/#error-->

 	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>