<html xmlns="http://www.w3.org/1999/xhtml">
<?php $titulo_web="Login";?>
<?php require_once("views/head/head.phtml"); ?>
<link href="css/login_bootstrap.css" rel="stylesheet">
<body>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4" style="margin-top: 70px;">
			<h1 class="text-center login-title" style="font-size: 25px;"></h1>
			<div class="account-wall">
				<img class="profile-img" src="img/login.png" alt="">
				<?php
		          if(isset($_GET['error']))
		            {
		              ?>
		              <p class="error">Ha ocurrido un error, verifique los datos!</p>        
		              <?php
		            }
		       ?>
				<form class="form-signin" id="form1" name="form1" method="post" action="index.php?login=1">
					<input type="text" name="username" class="form-control" placeholder="User" required autofocus>
					<input type="password" name="password" class="form-control" placeholder="Password" required>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form>
			</div>
		</div>
	</div><!--row-->
</div><!--container-->
</body>
</html>
