<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body>
	<?php require_once("views/body/cabecera.phtml"); ?>

	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        <?=$user->credits?>
                                    </h3>
                                    <p>
                                        Credits Available
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="index.php?apartado=packages" class="small-box-footer">
                                    Buy More <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        0<!--<?=$credits_send?>-->
                                    </h3>
                                    <p>
                                        Messsage Sent
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-email"></i>
                                </div>
                                <a href="index.php?apartado=msgsended" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                       
                      </section>
                       
                       <div class="col-md-12">
                            <section class="content-header">
				                    <ol class="breadcrumb">
				                        <li><i class="fa fa-envelope"></i> Last 20 chat</li>
                    				</ol>
				                </section>
	                            <?php            
					            /* if(isset($contacts) && !empty($contacts))
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List of groups");
					                $tabla->inicioTabla(array("N&deg;","Sender","Name","Number","Last Message","Action"));
					                          
					                $i=1;       
					                $j=1;         
					                foreach($contacts as $c)
					                {  
					                  $j= $i + 1;//se usa para enviar el numero de formulario a check
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $i.'<input type="hidden" name="contact" value="'.$c->id.'" />
					                            <input type="hidden" name="apartado" value="contacts" />
					                            <input type="hidden" name="id" value="'.$c->sender_id.'" />',
					                            $c->name,
					                            $c->number,
					                            $c->date_create,
					                            $c->status,
					                            '<div class="botones_columna">
					                            <button type="button" class="btn btn-default bg-blue" name="chat" onclick="post('.$j.',\'chat\',\'\')">Chat</button>
							                    </div>'
					                          ) 
					                    ); 
					                  ?>                                  
					                  <?php
					                  $i++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					              <?php
										echo "<h4>No contacts on the database from this sender.</h4>";
									}*/
					              ?>					             
                            </div><!-- /col-lg-8 -->
                     
                     <!--tabla-->
                        
                       
  
                    </div><!-- /.row (main row) -->


            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>
