<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        List Survey
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">List Survey</li>
                    </ol>
                </section>
                
                <?php
	            if($usuario->IsAdmin($_SESSION['id_user'])){
	            ?>
	            <br>
				<div class="col-md-6">
	            <div class="box box-primary">
				              <div class="box-header">
				                  <h3 class="box-title">Search</h3>
				              </div><!-- /.box-header -->
                 <div class="box-body">  
						<form role="form" method="post" action="index.php">
					
							<input name="apartado" value="survey" type="hidden">												
				            <div class="row">
					            <div class="form-group col-md-12">
					                <label>User</label>
					               	  <select class="form-control" name="user" onchange="javascript:">
					               	  <option value="0"></option>				
					               	  <?php foreach($usuarios as $u)
					               	  	{
					            			if(!$u->IsAdmin($u->id))
					            			{
									  ?>						              	
									  	<option value="<?=$u->id?>" <?php if($u->id == $usuario_selected){echo "selected";}?>><?=$u->username?></option>
									  <?php
									  		}
									  	}
									  ?>
									  </select>
					              </div>
				        	</div>
				        	
							<button type="submit" class="btn btn-default bg-blue" name="search" value="search">Search</button>
					</form>
				
					</div><!--box-body-->					
				</div><!--box-primary-->
				</div>
				<?php
	        	}
	        	?>
	
                <br>
                <div class="row">
			            <div class="col-lg-8">
			            <?php
			            	$g = new Formularios(); 
			            	if(isset($result))
								$g->alert($result['msg'],$result['status']);
							$g->generarForm();	
			            ?>
			            </div>
			    </div><!-- /.row -->

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                            <div class="col-md-12">
	                            <?php            

					              if(isset($encuestas) && !empty($encuestas))
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List of messages");
									
									if($usuario->IsAdmin($_SESSION['id_user'])){
					                	$tabla->inicioTabla(array("N&deg;","User","Name","Question","Sender","Finish Date","Total Sent","Status","Action"));
									}else{
										$tabla->inicioTabla(array("N&deg;","Name","Question","Sender","Finish Date","Total Sent","Status","Action"));
									}
									
					                $j=1;              
					                foreach($encuestas as $n)
					                {  
					                
					                	//Get Sender	
					                  $sender->GetById($n->sender_id);
    								
    								if($usuario->IsAdmin($_SESSION['id_user'])){
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $j.'<input type="hidden" name="id" value="'.$n->id.'" />',
					                            $usuario->GetUsername($sender->user),
					                            $n->name,
					                            $n->question,
					                            $sender->numero,
					                            $n->finish_date, 
					                            $n->cant_total, 
					                            ($n->finish_date < date("Y-m-d H:i:s"))?'finish':'in progress',
					                            ($n->finish_date < date("Y-m-d H:i:s"))?'<div class="botones_columna">
					                            					   <button type="button" class="btn btn-default bg-blue" name="edit" onclick="redirectAction(\'survey\',\'show\',\''.$n->id.'\',\'\')">Show</button>
					                            					   <button type="button" class="btn btn-default bg-green" name="result" onclick="redirectAction(\'survey\',\'result\',\''.$n->id.'\',\'\')">Result</button>
					                            					   </div>'
					                            					   :
					                            					   '<div class="botones_columna">
					                            					   <button type="button" class="btn btn-default bg-red" name="finish" onclick="redirectAction(\'survey\',\'finish\',\''.$n->id.'\',\'\')">Finish</button>
					                            					   <button type="button" class="btn btn-default bg-blue" name="edit" onclick="redirectAction(\'survey\',\'edit\',\''.$n->id.'\',\'\')">Edit</button>
					                            					   <button type="button" class="btn btn-default bg-green" name="result" onclick="redirectAction(\'survey\',\'result\',\''.$n->id.'\',\'\')">Result</button>
					                            					   </div>'           					                            
					                          ) 
					                    ); 
					                  }else{
									  	$tabla->agregarFilaForm("index.php","post",array(
					                            $j.'<input type="hidden" name="id" value="'.$n->id.'" />',
					                            $n->name,
					                            $n->question,
					                            $sender->numero,
					                            $n->finish_date,
					                            $n->cant_total,  
					                            ($n->finish_date < date("Y-m-d H:i:s"))?'finish':'in progress',
					                            ($n->finish_date < date("Y-m-d H:i:s"))?'<div class="botones_columna">
					                            					   <button type="button" class="btn btn-default bg-blue" name="edit" onclick="redirectAction(\'survey\',\'show\',\''.$n->id.'\',\'\')">Show</button>
					                            					   <button type="button" class="btn btn-default bg-green" name="result" onclick="redirectAction(\'survey\',\'result\',\''.$n->id.'\',\'\')">Result</button>
					                            					   </div>'
					                            					   :
					                            					   '<div class="botones_columna">
					                            					   <button type="button" class="btn btn-default bg-red" name="finish" onclick="redirectAction(\'survey\',\'finish\',\''.$n->id.'\',\'\')">Finish</button>
					                            					   <button type="button" class="btn btn-default bg-blue" name="edit" onclick="redirectAction(\'survey\',\'edit\',\''.$n->id.'\',\'\')">Edit</button>
					                            					   <button type="button" class="btn btn-default bg-green" name="result" onclick="redirectAction(\'survey\',\'result\',\''.$n->id.'\',\'\')">Result</button>
					                            					   </div>'           					                            
					                          ) 
					                    );
									  }
					                  ?>                                  
					                  <?php
					                  $j++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					                <h4>No surveys on the database.</h4>  
					              <?php
					              }
					              ?>
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>