<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        New Survey
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">New Survey</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
	                            <?php 
						        $f = new Formularios(); 
						        $f->cabecera('Survey','Complete the form to send a survey.');
						        if(isset($result))
									$f->alert($result['msg'],$result['status']); 
						        $f->inicioForm('post','index.php');  
						        $f->addHiddenInput('apartado','newsurvey');
						        $f->addHiddenInput('id',0);			
						        $f->addComboBox('Sender','sender_id',$senders,'','');			        
						        $f->addInput('Name','name','','txt');     
						        $f->addTextArea('Question','question','');
						        $f->addTextArea('Question Help','question_help','');
						        
						        	//Opciones
							        $options = '';
							        
							        for($i=1;$i<=15;$i++){
							        	if($i<=2){
											$options .= '<div id="option_container_'.$i.'">
															<div class="form-group" style="float:left;width: 20%;">
														        <label>Option Value</label>
														        <input type="text" name="option_value_'.$i.'"  class="form-control"/>
													        </div>
													        <div class="form-group" style="float:left;margin-left: 15px;width: 70%;">	
														        <label>Option Text</label>
														        <input type="text" name="option_text_'.$i.'"  class="form-control"/>
													        </div>							        
													        <div style="clear:both;"></div>
													    </div>';
										}else{
											$options .= '<div id="option_container_'.$i.'" style="display:none;">
															<div class="form-group" style="float:left;width: 20%;">
														        <label>Option Value</label>
														        <input type="text" name="option_value_'.$i.'"  class="form-control"/>
													        </div>
													        <div class="form-group" style="float:left;margin-left: 15px;width: 70%;">	
														        <label>Option Text</label>
														        <input type="text" name="option_text_'.$i.'"  class="form-control"/>
													        </div>
													       <a onclick="deleteOption('.$i.');" ><i class="fa fa-times" style="float: left;margin-top: 35px;margin-left: 10px;cursor:pointer;"></i></a>
													        <div style="clear:both;"></div>
													    </div>';
										}
										
									}
 
							        $f->contenidoFormulario(
							        '</div>
							        	<div class="col-lg-10 form-group">
							        	<p><b>Options</b></p>
							        	  <div class="col-md-offset-1 col-md-11">
											        
											        '.$options.'
											        
											        <a id="button_add_option" style="cursor:pointer;" onclick="showOption();" ><i class="fa fa-plus"></i> Add new option</a>
									     </div>
							        	</div>
							        <div class="col-lg-8">				
							        ');
							        
						        
						        $f->addTextArea('Message successfull','msg_successfull','');
						        $f->addTextArea('Message wrong answer','msg_wrong_answer','');
						        $f->addInputDatetime('Finish Date','finish_date',date("Y-m-d H:i:s"));
						        $f->addSubmit('Send','aceptar','aceptar');
						        $f->addClean('Clean');
						        $f->finForm();

						        $f->generarForm();
						        ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
 

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
	
	<script>
		var option_start_java = 3;
	
		function showOption(){
			$('#option_container_' + option_start_java).show();
			if(option_start_java == 15){
				$('#button_add_option').hide();
			}else{
				option_start_java++;
			}
		}
		
		function deleteOption(pos){
			$('#option_container_' + pos).hide();
			$('#option_value_' + pos).val('');
			$('#option_text_' + pos).val('');		
		}
	</script>
</body>
</html>
