<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
	
	<script src="js/plugins/Chart.min.js"></script>
	
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Result Survey
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="index.php?apartado=survey">List Survey</a></li>
                        <li class="active">Result Survey</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
	 							<div class="col-sm-6">
	 							
	 								<p><b>Name:</b> <?=$encuesta->name?></p>
	 								
	 								<p><b>Question:</b> <?=$encuesta->question?></p>
	 	
	 								<p><b>Total Sent:</b>  <?=$encuesta->cant_total?></p>
	 								
	 								<p><b>Nonresponders:</b> <?php echo $contacto_x_encuesta->GetNonresponders($encuesta->id);?></p>
	 								
	 								<br>
										
									<canvas id="chart-area" width="400" height="400"></canvas>
									
									<br>
									
									<p><b>Options</b></p>
									
									<?php
										foreach($options as $o){
										
										echo '<p>'.$o->option_value.' - '.$o->option_text.' ('.$o->GetPercent($o->cant,$encuesta->cant_total).'%): '.$o->cant.'</p>';	
											
										}
									?>
									
										
								</div>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
 

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
	
	<?php
		$color_arr =  array('#F7464A','#46BFBD','#FDB45C','#949FB1','#4D5360');
		$highlight_arr = array('#FF5A5E','#5AD3D1','#FFC870','#A8B3C5','#616774');
	
		$js = '<script>
					var doughnutData = [';
		$i = 0;
		
		foreach($options as $o){
						
			$js .=	   '{   
							value: '.$o->cant.',
							color:"'.$color_arr[$i].'",
		        			highlight: "'.$highlight_arr[$i].'",
							label: "'.$o->option_text.' ('.$o->GetPercent($o->cant,$encuesta->cant_total).'%)'.'"
						},	
							
					';
					
			$i++;
			
			if($i > count($color_arr)){
				$i=0;
			}
			
		}
		
		$js .=	   '{   
							value: '.$contacto_x_encuesta->GetNonresponders($encuesta->id).',
							color:"'.$color_arr[$i].'",
		        			highlight: "'.$highlight_arr[$i].'",
							label: "Nonresponders'.' ('.$o->GetPercent($contacto_x_encuesta->GetNonresponders($encuesta->id),$encuesta->cant_total).'%)'.'"
						},	
							
					';
		
		$js .=  	'];
			   </script>';
			   
		echo $js;
	
	?>
			
	<script>		
			window.onload = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
			};
	</script>


</body>
</html>
