<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Show Survey
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="index.php?apartado=survey">List Survey</a></li>
                        <li class="active">Show Survey</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-8">
	                            <?php 
						        $f = new Formularios(); 
						        $f->cabecera('Survey','');
						        $f->inicioForm('post','index.php');  
						        $f->addHiddenInput('apartado','survey');
						        $f->addHiddenInput('id',$encuesta->id);			
						        $f->addComboBox('Sender','sender_id',$senders,$encuesta->sender_id,'');			        
						        $f->addInput('Name','name',$encuesta->name,'txt');     
						        $f->addTextArea('Question','question',$encuesta->question);
						        $f->addTextArea('Question Help','question_help',$encuesta->question_help);
						        
						        	//Opciones
							        $options_text = '';
							        
							        foreach($options as $p){
											
											$options_text .= '<div>
															<div class="form-group" style="float:left;width: 20%;">
														        <label>Option Value</label>
														        <input type="text"  class="form-control" value="'.$p->option_value.'" disabled/>
													        </div>
													        <div class="form-group" style="float:left;margin-left: 15px;width: 70%;">	
														        <label>Option Text</label>
														        <input type="text" class="form-control" value="'.$p->option_text.'" disabled/>
													        </div>							        
													        <div style="clear:both;"></div>
													    </div>';
										
									}
 
							        $f->contenidoFormulario(
							        '</div>
							        	<div class="col-lg-10 form-group">
							        	<p><b>Options</b></p>
							        	  <div class="col-md-offset-1 col-md-11">
											        '.$options_text.'
									     </div>
							        	</div>
							        <div class="col-lg-8">				
							        ');
							        
						        
						        $f->addTextArea('Message successfull','msg_successfull',$encuesta->msg_successfull);
						        $f->addTextArea('Message wrong answer','msg_wrong_answer',$encuesta->msg_wrong_answer);
						        $f->addInputDatetime('Finish Date','finish_date',$encuesta->finish_date);
						        $f->finForm();

						        $f->generarForm();
						        ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
 

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
	
	<script>
		$("[name='sender_id']").prop('disabled', true);
		$("[name='name']").prop('disabled', true);
		$("[name='question']").prop('disabled', true);
		$("[name='question_help']").prop('disabled', true);
		$("[name='finish_date']").prop('disabled', true);
		$("[name='msg_successfull']").prop('disabled', true);
		$("[name='msg_wrong_answer']").prop('disabled', true);
	</script>
	
</body>
</html>
