<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="img/login.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p style="color: #3C8DBC;">Hello, <?=$_SESSION['username']?></p>

                <a id="creditos" href="#" style=<?php if($user->credits > 0){echo'"color:#00A65A;"';}else{echo'"color:#F56954;"';}?>>Credits Available: <?=$user->credits?></a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="index.php">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-user"></i> Users <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newuser">New User</a></li>    
					<li><a href="index.php?apartado=moduser">List Users</a></li>   
				</ul>
			</li>
			
			<li class="active">
                <a href="index.php?apartado=campaigns">
                    <i class="fa fa-envelope"></i> <span>List Campaign</span>
                </a>
         	</li>
         	
         	<li class="active">
                <a href="index.php?apartado=survey">
                    <i class="fa fa-pie-chart"></i> <span>List Survey</span>
                </a>
         	</li>
			
			 <li class="active">
                <a href="index.php?apartado=contacts">
                    <i class="fa fa-group"></i> <span>Contacts</span>
                </a>
         	</li>  
        
        	<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-mobile"></i> Senders <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newsender">New Sender</a></li>    
					<li><a href="index.php?apartado=modsender">List Senders</a></li>
					<li><a href="index.php?apartado=importsender">Import Senders</a></li>   
				</ul>
			</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-mobile"></i> Registration <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=registration">Request Code</a></li>    
					<li><a href="index.php?apartado=registration_sender">Register Sender</a></li>					
				</ul>
			</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-dropbox"></i> Packages <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newpackage">New Package</a></li>    
					<li><a href="index.php?apartado=modpackage">List Packages</a></li>   
				</ul>
			</li>
			
			<li class="active">
                <a href="index.php?apartado=settings">
                    <i class="fa fa-cog"></i> <span>Settings</span>
                </a>
         	</li>
        
        </ul>
        	
    </section>
    <!-- /.sidebar -->
</aside>