<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="img/login.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p style="color: #3C8DBC;">Hello, <?=$_SESSION['username']?></p>

                <a id="creditos" href="index.php?apartado=packages" style=<?php if($user->credits > 0){echo'"color:#00A65A;"';}else{echo'"color:#F56954;"';}?>>Credits Available: <?=$user->credits?></a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="index.php">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            
            <?php
            if($user->modulo_campaign){
            ?>
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-envelope"></i> Campaign <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=bulkmessage">New Campaign</a></li>    
					<li><a href="index.php?apartado=campaigns">List Campaign</a></li>					
				</ul>
			</li>
			<?php
			}

            if($user->modulo_survey){
			?>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-pie-chart"></i> Survey <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newsurvey">New Survey</a></li>    
					<li><a href="index.php?apartado=survey">List Survey</a></li>					
				</ul>
			</li>
			
			<?php
			}

            if($user->modulo_answer){
			?>
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-comment"></i> Auto Answer <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="index.php?apartado=newanswer">New Auto Answer</a></li>    
					<li><a href="index.php?apartado=answer">List Auto Answer</a></li>					
				</ul>
			</li>
         	<?php
			}
			?>
			
         	 <li class="active">
                <a href="index.php?apartado=contacts">
                    <i class="fa fa-group"></i> <span>Contacts</span>
                </a>
         	</li>      
         	
         	 <li class="active">
                <a href="index.php?apartado=modsender">
                    <i class="fa fa-mobile"></i> <span>Senders</span>
                </a>
         	 </li>          
			
			 <li>
	             <a href="index.php?apartado=packages">
	                 <i class="fa fa-dropbox"></i> <span>Packages</span>
	             </a>
	         </li>
	         
	         <li class="active">
                <a href="index.php?apartado=settings">
                    <i class="fa fa-cog"></i> <span>Settings</span>
                </a>
         	</li>

        
        </ul>
        	
    </section>
    <!-- /.sidebar -->
</aside>