<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        List Auto Answer
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">List Auto Answer</li>
                    </ol>
                </section>
                
                <div class="row">
			            <div class="col-lg-8">
			            <?php
			            	$g = new Formularios(); 
			            	if(isset($result))
								$g->alert($result['msg'],$result['state']);
							$g->generarForm();	
			            ?>
			            </div>
			    </div><!-- /.row -->

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                            <div class="col-md-12">
	                            <?php            
					              
					              
					              if(isset($answers) && !empty($answers))
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List of messages");

					                $tabla->inicioTabla(array("N&deg;","Word","Message","Type","Enable","Action"));
		
					                          
					                $i=1;  
					                $j=1;              
					                foreach($answers as $n)
					                {  
					                  if($n->type != 'text'){
					                  	$array_contenido = explode('message_record',$n->message);
					                  
					                  	if($n->type != 'audio'){
						                  	$array_contenido = explode(';',$array_contenido[1]);
						                  	$contenido = $array_contenido[0];
						                  	
						                  	//por si tiene acentos y eso con ;
											$caption = $array_contenido[1]; 
											if(count($array_contenido)>2){
												for($i=2;$i<count($array_contenido);$i++){
													$caption .= ';'.$array_contenido[$i];
												}
											}
											
						                  	$caption = ($caption != '')?'<p style="margin: 5px 0px 0px;">'.$caption.'</p>':$caption;
						                
						                }else{
											$contenido = $array_contenido[1];
											$caption = '';
										}	
					                  }
					                  
					                  
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $j.'<input type="hidden" name="id" value="'.$n->id.'" />',
					                            $n->word,
					                            ($n->type == "text")?$n->message:'<a class="btn btn-default bg-blue" href="message_record'.$contenido.'" target="_blank">Show</a>'.$caption,
					                            $n->type,
					                            ($n->habilitado == 1)?"Yes":"No", 
					                            ($n->habilitado == 1)?'<div class="botones_columna">
					                            					   <button type="button" class="btn btn-default bg-blue" name="start" onclick="redirectAction(\'answer\',\'disable\',\''.$n->id.'\',\'\')">Disable</button>
					                            					   <button type="button" class="btn btn-default bg-red" name="borrar" onclick="redirectAction(\'answer\',\'borrar\',\''.$n->id.'\',\'Are you sure you want to delete the automatic answer?\')">Delete</button>
					                            					   </div>'
					                            					   :
					                            					   '<div class="botones_columna">
					                            					   <button type="button" class="btn btn-default bg-green" name="start" onclick="redirectAction(\'answer\',\'enable\',\''.$n->id.'\',\'\')">Enable</button>
					                            					   <button type="button" class="btn btn-default bg-red" name="borrar" onclick="redirectAction(\'answer\',\'borrar\',\''.$n->id.'\',\'Are you sure you want to delete the automatic answer?\')">Delete</button>
					                            					   </div>'           					                            
					                          ) 
					                    ); 
					                  ?>                                  
					                  <?php
					                  $j++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					                <h4>No automatic answer on the database.</h4>  
					              <?php
					              }
					              ?>
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>