<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
	
	<!--CHAT-->
	<?php
	echo "<script>var url_root='".$url_root."';</script>";
	?>
	
	<script src="js/Chat.class.js"></script>
	<script>var chat = new Chat();</script> 
	<!--    -->
<body class="pace-done" onload="setInterval('chat.actualizar(<?=$contact->id?>)',2000);">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Chat
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="index.php?apartado=contacts">List Contacts</a></li>
                        <li class="active">Chat</li>
                    </ol>
                </section>
				
                <!-- Main content -->
                <section class="content">

							<?php
							$c = new ChatFactory();
							$c->cabecera($contact->name);
							$c->InicioChat();
							foreach($chats as $ca){
								$c->Mensaje($ca);
							}
							$c->FinChat();
							$c->GenerarChat();
							?>

                </section><!-- /.content -->
                
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
	
	<?php
		echo '
                <script>
                	chat.sender_id   = "'.$contact->sender_id.'";
					chat.contact_id  = "'.$contact->id.'";
						
                	function Mensaje(){
					  if($("#input_wa").is(":enabled")){		
					  	  
							chat.message     =  document.getElementById("input_wa").value;
							chat.type 		 = "text";
							
							if(chat.message != ""){
								chat.enviar();
							}
						}
					}
                
                	var objDiv = document.getElementById("subcontainer");
					objDiv.scrollTop = objDiv.scrollHeight;
                </script>';
                
		//Validacion Encuesta
		if($sender->encuesta_id != 0){
			echo '<script>
					survey_active();
				  </script>';

		}
			
		require_once("views/contacts/chat_modal_view.phtml");
	?>
	
	<script>
		function survey_active(){
			$("#input_wa").prop("disabled", true);
			$("#input_wa").val("The sender has an active survey, you can not send messages at this time.");
			$("#send_button").css({"cursor":"not-allowed"});
			$("#adjunto_msg").css({"cursor":"not-allowed"});
		}
		
		function survey_desactive(){
			$("#input_wa").prop("disabled", false);
			$("#input_wa").val("");
			$("#send_button").css({"cursor":"pointer"});
			$("#adjunto_msg").css({"cursor":"pointer"});
		}
		
		function modalShow(){	
		  if($("#input_wa").is(":enabled")){	
				$('#myModal').modal('show');
		  }
		}
	  </script>';
</body>
</html>
