<?php
	$f = new Formularios();
	$f->inicioModal('myModal');
	$f->contenidoModal(' <!-- Small boxes (Stat box) -->
                    <div class="row">
                            <div class="col-md-12" style="padding:20px;">
                            <!-- general form elements disabled -->
                            <div id="error_msg" class="alert alert-danger alert-dismissable" style="display:none;">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <span id="error"></span>
			                </div>
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Fields</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
              					<form id="myform" method="post" enctype="multipart/form-data">		
                                      <div class="form-group" id="err_3">
                                        <div class="form-group" >
                                        
                                            <label onClick="TypeOption(\'Pic\')"><input type="radio" name="tipo" value="imagen" id="Pic" checked> Image <span style="color:#999; font-size:12px">[ jpeg,jpg - 500kb Max Size ]</span> </label>
                                            <div id="optpic" style="display:inline">
                                            <div id="pic" ><img src="message_record/imagen/test.jpg" class="img-responsive" style="max-height: 150px;margin-bottom: 10px;" id="img_destino"/></div>
                                            <input type="file" name="imagen" id="imagen" width="50px" />
                                            <textarea class="form-control" rows="3" placeholder="Enter Caption.." name="caption_imagen" id="caption_imagen" style="margin-top: 10px;"></textarea>
                                            <div id="status43" style="color:red" ></div>&nbsp;
                                            </div>
                                           
                                        </div>
                                      </div>
                                   
                                   <div class="form-group" id="err_4">
                                        <div class="form-group" >
                                        
                                            <label onClick="TypeOption(\'Audio\')"><input type="radio" name="tipo" value="audio" id="Audio" > Audio <span style="color:#999; font-size:12px">[ mp3 - 1 MB Max Size ]</span> </label>
                                            <div id="optaudio" style="display:none">
                                            <div id="audio_upload" >
	                                            <audio id="audio_destino" controls="controls" height="50px" width="50px"  src="message_record/audio/test.mp3">
	  														  </audio>
  														  </div>
                                            <input type="file" name="audio" id="audio" width="50px" />
                                            
                                            <div id="status44" style="color:red" ></div>&nbsp;
                                            </div>
                                           
                                        </div>
                                    </div>
                                     
                                     <div class="form-group" id="err_5">
                                        <div class="form-group" >
                                        
                                            <label onClick="TypeOption(\'Video\')"><input type="radio" name="tipo" value="video" id="Video" > Video <span style="color:#999; font-size:12px">[ mp4 - 4 MB Max Size ]</span> </label>
                                            <div id="optvideo" style="display:none">
                                            <div id="video_upload" >
	                                            <video width="300" height="180" src="message_record/video/test.mp4"  id="video_destino" controls>
	  														  </video>
  											</div>
                                            <input type="file" name="video" id="video" width="50px" />
                                            <textarea class="form-control" rows="3" placeholder="Enter Caption.." name="caption_video" id="caption_video" style="margin-top: 10px;" ></textarea>
                                            <div id="status45" style="color:red" ></div>&nbsp;
                                            </div>
                                           
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="box-footer">
                                        <input type="button" class="btn btn-primary" value="Send Message" onclick="chat.enviarMultimedia();">
                                    </div>
                                </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->
');
	$f->finModal();	
	$f->generarModal();
?>
<script type='text/javascript'>
	
function TypeOption(id)
{
	if(id=='Pic')
	{
		if(!$('#optaudio').is(':hidden')){$('#optaudio').hide();}
		if($('#optpic').is(':hidden')){$('#optpic').show();}
		if(!$('#optvideo').is(':hidden')){$('#optvideo').hide();}
	}
	if(id=='Audio')
	{
		if($('#optaudio').is(':hidden')){$('#optaudio').show();}
		if(!$('#optpic').is(':hidden')){$('#optpic').hide();}
		if(!$('#optvideo').is(':hidden')){$('#optvideo').hide();}
	}
	if(id=='Video')
	{	
		if(!$('#optaudio').is(':hidden')){$('#optaudio').hide();}
		if(!$('#optpic').is(':hidden')){$('#optpic').hide();}
		if($('#optvideo').is(':hidden')){$('#optvideo').show();}	
	}
}
</script>

<script type="text/javascript">
function mostrar(input,div) {
 if (input.files && input.files[0]) {
  var reader = new FileReader();
  reader.onload = function (e) {
   $(div).attr('src', e.target.result);
  }
  reader.readAsDataURL(input.files[0]);
 }
}

$("#imagen").change(function(){
 mostrar(this,'#img_destino');
});

$("#audio").change(function(){
 mostrar(this,'#audio_destino');
});

$("#video").change(function(){
 mostrar(this,'#video_destino');
});

</script>