<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Contacts
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="index.php?apartado=contacts">List Contacts</a></li>
                        <li class="active">Contacts</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
							
					<div class="row">
			            <div class="col-lg-8" style="padding-left: 0px;">            							
			            <?php
			            //Result of delete
			            if(isset($result) && $result['status'])
			            {
			              ?>                          
			                <div class="alert alert-success alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div>                
			              <?php
			              unset($result);
			            }else if(isset($result) && !$result['status']){
			              ?>
			                 <div class="alert alert-danger alert-dismissable">
			                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                  <?=$result['msg']?>
			                </div> 
			              <?php
			              unset($result);
			            }?>
			           </div> 			            
			        </div><!-- /.row -->
           
     <div class="row">      		
      <div class="col-md-8">
           <div class="box box-primary">
              <div class="box-header">
                  <h3 class="box-title">Search</h3>
              </div><!-- /.box-header -->
         
               <div class="box-body">  
							<form role="form" method="post" action="index.php" id="search_contacts">	
								<input name="apartado" value="contacts" type="hidden">
					        	<input name="contacts" value="contacts" type="hidden">
					        	<input name="id" value="<?=$contact->sender_id?>" type="hidden">
								
					        
					        	<div class="row">
									<div class="form-group col-md-4" >
						                <label>Name</label>
						                <input class="form-control" placeholder="Enter data" name="name" id="name" value="<?=$contact->name?>" type="txt">
						              </div>
						        
									<div class="form-group col-md-4">
						                <label>Number</label>
						                <input class="form-control" placeholder="Enter data" name="number" id="number" value="<?=$contact->number?>" type="txt">
						              </div>
						              
						            <div class="form-group col-md-4" >
						                <div class="form-group">
							                <label>Status</label>
								              <select class="form-control" name="status">
								              	<option value=""></option>
											  	<option value="<?=SUSCRIBE_STATUS?>" <?php if($contact->status==SUSCRIBE_STATUS){echo "selected";}?>><?=SUSCRIBE_STATUS?></option>
											  	<option value="<?=UNSUSCRIBE_STATUS?>" <?php if($contact->status==UNSUSCRIBE_STATUS){echo "selected";}?>><?=UNSUSCRIBE_STATUS?></option>
											  </select>									  
										</div>
					            	</div>
					            	
					        	</div><!--row-->
					        	<div class="row">
										<div class="col-md-4">
											<button type="submit" class="btn btn-default bg-blue pull-left" name="search" value="search">Search</button>
						        		</div>
						        		
						        		<div <?php if(!($user->modulo_chat || $user->IsAdmin($_SESSION['id_user']))){echo 'style="display:none"';}?>>
							        		<div class="col-md-4">
								        		<div class="checkbox" >
									                <label>
									                  <input type="radio" value="ordername" name="radio_order" <?php if($check=='ordername'){echo 'checked';} ?>>
									                  <b>&nbsp;Order by name</b>
									                </label>
									            </div>	
							        		</div>
							        		<div class="col-md-4">
								        		<div class="checkbox">
									                <label>
									                  <input type="radio" value="orderchat" name="radio_order" <?php if($check=='orderchat'){echo 'checked';} ?>>
									                  <b>&nbsp;Order by last chat</b>
									                </label>
									            </div>
								            </div>
							            </div>
					        	</div>
						</form>
					
					</div><!--box-body-->
		</div><!--box-primary-->
	</div><!--col-lg-8-->
	</div><!--row-->
              
            <div class="col-md-10"> 
	                            <?php            
					             if(isset($contacts) && !empty($contacts))
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List of groups");
					                $tabla->inicioTabla(array("N&deg;","Name","Number","Date Created","Status","Action"));
					                          
					                $i=1;       
					                $j=1;         
					                foreach($contacts as $c)
					                {  
					                  $j= $i + 1;//se usa para enviar el numero de formulario a check
					                  $tabla->agregarFilaForm("index.php","post",array(
					                            $i.'<input type="hidden" name="contact" value="'.$c->id.'" />
					                            <input type="hidden" name="apartado" value="contacts" />
					                            <input type="hidden" name="contacts" value="contacts" />
					                            <input type="hidden" name="id" value="'.$c->sender_id.'" />',
					                            $c->name,
					                            $c->number,
					                            $c->date_create,
					                            $c->status,
					                            ($user->modulo_chat || $user->IsAdmin($_SESSION['id_user']))?'<div class="botones_columna">
					                            <button type="button" class="btn btn-default bg-blue" name="chat"   onclick="post('.$j.',\'chat\',\'\')">Chat</button>
					                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="check('.$j.')">Delete</button>
					                            </div>':
					                            '<div class="botones_columna">
					                            <button type="button" class="btn btn-default bg-red" name="borrar" onclick="check('.$j.')">Delete</button>
					                            </div>'
					                          ) 
					                    ); 
					                  ?>                                  
					                  <?php
					                  $i++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					              <?php
										echo "<h4>No contacts on the database from this sender.</h4>";
									}
					              ?>
					          
                            </div><!--col-md-8-->
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->


	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>