<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<?php require_once("views/head/head.phtml"); ?>
<body class="pace-done">
	<?php require_once("views/body/cabecera.phtml"); ?>
		
	<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php require_once("views/body/menu.phtml"); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Contact List
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Contact List</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
	                
	                 <div class="col-md-8"> 
	                            <?php            
					             if(isset($senders) && !empty($senders))
					              {
					                $tabla = new Tablas();
					                $tabla->cabecera("List of groups");
					                if($user->IsAdmin($_SESSION['id_user'])){
										 $tabla->inicioTabla(array("N&deg;","Sender","User","Contacts","Action"));
									}else{
										 $tabla->inicioTabla(array("N&deg;","Sender","Contacts","Action"));
									}
					               
					                          
					                $i=1;                
					                foreach($senders as $n)
					                {  
					                	if($user->IsAdmin($_SESSION['id_user'])){
						                  $tabla->agregarFilaForm("index.php","post",array(
						                            $i.'<input type="hidden" name="id" value="'.$n->id.'" />
						                            <input type="hidden" name="apartado" value="contacts" />',
						                            $n->numero,
						                            $user->GetUsername($n->user),
						                            $contact->GetAmount($n->id),
						                            '<div class="botones_columna"><button type="submit" class="btn btn-default bg-blue" name="contacts">View Contacts</button>
						                            </div>'
						                          ) 
						                    ); 
						                 }else{
										 	$tabla->agregarFilaForm("index.php","post",array(
						                            $i.'<input type="hidden" name="id" value="'.$n->id.'" />
						                            <input type="hidden" name="apartado" value="contacts" />',
						                            $n->numero,
						                            $contact->GetAmount($n->id),
						                            '<div class="botones_columna"><button type="submit" class="btn btn-default bg-blue" name="contacts">View Contacts</button>
						                            </div>'
						                          ) 
						                    );
										 }
					                  ?>                                  
					                  <?php
					                  $i++;
					                }

					                $tabla->generarTabla();
					              }else{?>
					              <?php
										echo "<h4>No contact list on the database.</h4>";
									}
					              ?>
					          
                            </div><!--col-md-8-->
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

	<?php require_once("views/footer/footer.phtml"); ?>
</body>
</html>
